@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.font-raleway {
    font-family: 'Raleway';
}

.font-inter {
    font-family: "Inter";
}
li
{   padding: 20px;
    display: flex;
    justify-content: space-between;

}

/* 
 <div class="card card-side bg-base-100">
<div class="space-y-5  ">
                    <!-- space-y-24  -->
                    <div class="rounded-b-full  h-4 w-8 bg-slate-50"></div>

                    <hr class="w-1 h-28   mx-auto  border-r-2 border-dashed rounded md:my-10">
                    <div class=" mx-auto ">
                        <div class="rounded-t-full h-4 w-8 bg-slate-50"></div>
                    </div>
                </div>
                <div class="card-body  text-black my-5">
                    <img class="w-20  h-20" src="images/fare.png" alt="">
                    <h2 class="card-title text-3xl font-bold">550 Taka </h2>
                    <p class="text-xl text-[#836410]">Per Seat</p>

                </div>
 </div>
 */