@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.font-raleway {
    font-family: 'Raleway';
}

.font-inter {
    font-family: "Inter";
}
li
{   padding: 20px;
    display: flex;
    justify-content: space-between;

}
.add:disabled
{
    color :white;
   background-color:#1dd100; 
}